.fundoLogin {
    background-image: url("https://ik.imagekit.io/gwq8l9cqx/em-laptop-em-mesa-de-escr.jpeg?updatedAt=1707114330019");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}